/* Button Styling */

.button {
  background-color: #000000;
  border: none;
  box-shadow: 0 9px#505050;
  padding: 30px;
  text-align: center;
  font-size: 28px;
}

.button:hover {
  background-color: #3F3F3F;
}

.button:active {
  box-shadow: 0 5px #3D3D3D;
  transform: translateY(5px);
}

.red {
  color: #FF0000;
}

.green {
  color: #00FF00;
}

.blue {
  color: #0000FF;
}

.yellow {
  color: #FFFF00;
}

.round {
  border-radius: 50%;
}

/* Slider Switch Checkbox */

.switch {
  position: relative;
  display: inline-block;
  width: 120px;
  height: 68px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider::before {
  position: absolute;
 content: "";
  height: 52px;
  width: 52px;
  left: 8px;
  bottom: 8px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2e055c;
}

input:focus + .slider {
  box-shadow: 0 0 1px #460653;
}

input:checked + .slider::before {
  -webkit-transform: translateX(52px);
  -ms-transform: translateX(52px);
  transform: translateX(52px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}